extends layout

block content
  .container-fluid
    section.row
      .sidebar.col-md-3
        .heading
          h3 DoctorWho
        .list
      .topbar.col-md-offset-3.col-md-4
        form
          .input-group
            .input-group-btn
              select#input-specialty.selectpicker(data-width='100%', style='display: none;')
                option All
            input#input-search.form-control(style='border-left-width: 0;', type='text', placeholder='Enter a zipcode')
            span.input-group-btn
              button#btn-search.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search

    section.row
      #map

  #alert-modal.modal.fade(role='dialog', style='display: none;')
    .modal-dialog(style='margin-top: 100px;')
      .modal-content
        .modal-header(style='background-color: #790202; color: #F7F7F7;')
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Alert
        .modal-body
          p Some text in the modal.
        .modal-footer(style='text-align: center;')
          button.btn.btn-danger(type='button', data-dismiss='modal') Close