body {
  padding-top: 0px;
}

.btn i {
  margin-right: 0px;
}

::-webkit-scrollbar {
  width:10px;
  height:10px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#148EF7;
  border-radius:0;
}

/* controlls */
.topbar {
  position: absolute;
  z-index: 10;
  margin-top: 10px;
}

.topbar .input-group button, .topbar .input-group input {
  background: rgba(39, 39, 39, 0.83);
  color: white;
  border-color: #3C3B3B;
}

.topbar .input-group button:active, .topbar button:hover {
  background: rgba(39, 39, 39, 0.83);
  color: white;
}

.sidebar {
  position: absolute;
  z-index: 10;
  background: rgba(39, 39, 39, 0.83);
  height: 100%;
  padding-right: 0;
}

.sidebar .heading {
  color: white;
}

.list {
  height:85%;
  overflow:auto;
  padding-bottom:60px;
  margin-top: 20px;
}

.list .list-item {
  display:block;
  padding:10px;
  text-decoration:none;
  color: #fff;
}

.list .list-item.active, .list .list-item:active, .list .list-item:hover {
  background-color: #027B1C;
}

.list-item .list-item-heading {

}

.list-item .list-item-text {
  margin-bottom: 0;
}

/* map */
#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* leaflet */
.leaflet-control-zoom {
  background: rgba(39, 39, 39, 0.83);
}

.leaflet-popup-content .marker-title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 10px;
}

.leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif
}

.leaflet-popup-tip {
    border-top: 10px solid #2c3e50;
}

.leaflet-popup-content p {
  margin-bottom: 2px;
}